body {
    background: #f4f6f9;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 70%;
    margin: auto;
    margin-top: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#chatBox {
    height: 450px;
    background: white;
    border-radius: 20px;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.user-message {
    background: #d8eaff;
    border-left: 5px solid #4A90E2;
    width: fit-content;
    max-width: 70%;
    padding: 15px;
    border-radius: 20px 20px 5px 20px;
    margin-left: auto;
    margin-top: 15px;
    word-wrap: break-word;
    line-height: 1.5;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.bot-message {
    background: #f7f9fc;
    border-left: 5px solid #4A90E2;
    width: fit-content;
    max-width: 70%;
    padding: 20px;
    border-radius: 20px 20px 20px 5px;
    margin-top: 15px;
    line-height: 1.8;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    white-space: pre-wrap;
}

.input-area {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

#question {
    flex: 1;
    padding: 18px;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    font-size: 18px;
    transition: 0.2s;
}

#question:focus {
    border-color:#4A90E2;
    box-shadow:0 0 10px rgba(74,144,226,0.2);
}

#uploadButton,
#sendButton,
#clearButton {
    width:110px;
    height:60px;
    border-radius: 18px;
}

#uploadButton,
#sendButton {
    border:none;
    background:#4A90E2;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:0.25s;
}

#uploadButton{
    border-radius:0 16px 16px 0;
    background:#4A90E2;
    color:white;
}

#clearButton {
    border: none;
    background: #2d3748;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
}

#sendButton:hover,
#uploadButton:hover,
#clearButton:hover {
    transform: translateY(-2px);
    transition: 0.2s;
}

.upload-area {
    display: flex;
    margin-top: 20px;
    gap:15px;
    align-items: center;
}

#browseButton{
    background:white;
    padding:15px 25px;
    border-radius:16px;
    border:1px solid #d9d9d9;
    cursor:pointer;
    font-weight:bold;
    color:#2d3748;
}

#browseButton:hover{
    background:#f5f5f5;
}

#fileName{
    flex:1;
    color:#777;
    padding-left:10px;
}

#documentInput {
    display: none;
}

#themeButton {
    position: absolute;
    top: 25px;
    right: 25px;
    width:50px;
    height:50px;
    border: none;
    border-radius:50%;
    background:#2d3748;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.dark-mode #themeButton {
    background: #1f2937;
}

.dark-mode{
    background-color: #121212;
    color: white;
}

.dark-mode .container{
    background: transparent;
}

.dark-mode #chatBox{
    background: #1f1f1f;
    box-shadow: 0 0 20px rgba(255,255,255,0.05);
}

.dark-mode .bot-message{
    background-color: #2b2b2b;
    color: white;
    border-left: 5px solid #4A90E2;
}

.dark-mode .user-message{
    background: #2d3748;
    color: white;
    border-left: 5px solid #60a5fa;
}

.dark-mode #question{
    background:#2b2b2b;
    color:white;
    border:1px solid #444;
}

.dark-mode #documentInput{
    background:#2b2b2b;
    color:white;
    border:1px solid #444;
}

.dark-mode h1{
    color:white;
}

.dark-mode #browseButton{

    background:#2b2b2b;

    color:white;

    border:1px solid #444;
}

.dark-mode #browseButton:hover{
    background:#333;
}

.bot-message h1{
    font-size:28px;
}

.bot-message h2{
    font-size:22px;
}

.bot-message ul{
    padding-left:20px;
}

.bot-message code{
    background:#eee;
    padding:3px 6px;
    border-radius:5px;
}

.dark-mode .bot-message code{
    background:#444;
}